In [1]:
print ("Bismillah")

Bismillah

### List

In [2]:
bio_data = ['Anas', 'Student', '9to12']

In [3]:
bio_data

['Anas', 'Student', '9to12']

### Tupples
1 immutable (can't be change)

In [4]:
tp_bio_data = ('Anas', 'Student', '9to12')

In [5]:
type(tp_bio_data)

tuple

In [7]:
lst =[1]
print(type(lst))

<class 'list'>

In [10]:
lst =[1]
print(type(lst))

tp = (1)
print(type(tp))

tp = (1,)
print(type(tp))

<class 'list'>
<class 'int'>
<class 'tuple'>

In [13]:
tp_bio_data = [2]

In [14]:
tp_bio_data

[2]

In [15]:
tp_bio_data = ('Anas', 'Student', '9to12')

In [16]:
tp_bio_data

('Anas', 'Student', '9to12')

In [17]:
tp_bio_data[2]

'9to12'

In [18]:
tp_bio_data.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [19]:
tp_bio_data.count('Anas')

1

In [20]:
tp_bio_data.index('Anas')

0

In [21]:
tp_bio_data.count(['Anas', '9to12'])

0

In [30]:
tp_my_data = ('Anas', 24, 56)
print(tp_my_data.index(56))

2

In [23]:
tp_my_data

('Anas', 24, 56)

In [24]:
tp_bio_data.indes(56)

AttributeError: 'tuple' object has no attribute 'indes'

In [28]:
tp_bio_data.index[56]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [32]:
tp_my_data = ('Anas', 24, 56)
print(tp_my_data.index(56))
print(tp_my_data.count('Anas'))

2
1

### Loops

In [35]:
fruits = ('Apples', 'Mango', 'Banana')

In [37]:
fruits[1], fruits[2]

('Mango', 'Banana')

In [38]:
'''
for <temp_var> in <iterator>:
    <body>
'''

'\nfor <temp_var> in <iterator>:\n    <body>\n'

In [39]:
for fruit in fruits:
    print(fruit)

Apples
Mango
Banana

In [40]:
for my data in tp_my_data:
   print(my_data)

SyntaxError: invalid syntax (2267481452.py, line 1)

In [41]:
tp_my_data

('Anas', 24, 56)

In [42]:
for data in tp_my_data:
    print(data)

Anas
24
56

In [43]:
for data in tp_my_data:
    print(data)

Anas
24
56

### enumerate

In [47]:
em_fruits = enumerate(fruits)
list(em_fruits)

[(0, 'Apples'), (1, 'Mango'), (2, 'Banana')]

In [45]:
em_fruits

In [50]:
tp_my_data = enumerate(tp_my_data)

In [51]:
tp_my_data

In [54]:
tp_my_data = enumerate(tp_my_data)
list(tp_my_data)

[(0, (0, (0, (0, 'Anas')))), (1, (1, (1, (1, 24)))), (2, (2, (2, (2, 56))))]

In [57]:
for data in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Apples is at 0
Mango is at 1
Banana is at 2

In [61]:
# make sure index should be in sequence
# if the indes list gretaer than

fruits_index = [0,1,2]
print(fruits_index)

[0, 1, 2]

In [62]:
for data in zip(fruits_index, fruits):
    print(data)

(0, 'Apples')
(1, 'Mango')
(2, 'Banana')

In [63]:
fruits_index = [2,1,0]
print(fruits_index)

[2, 1, 0]

In [64]:
for data in zip(fruits_index, fruits):
    print(data)

(2, 'Apples')
(1, 'Mango')
(0, 'Banana')

In [68]:
for data in zip(fruits_index, fruits):
    print(data[1])

Apples
Mango
Banana

### Range

In [69]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [70]:
for temp in range(2,6):
    print(temp)

2
3
4
5

In [71]:
for temp in range(2, 5, 3):
    print(temp)

2

In [72]:
for temp in range(1, 10, 2):
    print(temp)

1
3
5
7
9

In [73]:
for num in range(20, 25, 3):
    print(num)

20
23

In [74]:
for i in range(15):
    print('apple')

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [76]:
print('apple\n'*15)

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [77]:
clean_cities = ['Karachi', 'Lahore', 'Islamabad']
not_clean = ['Multan']

In [80]:
cleanest_city = input("Enter Your City Name")

Enter Your City Name Multan

In [79]:
for cleanest_city = clean_ci

SyntaxError: invalid syntax (1400906245.py, line 1)

In [89]:
clean_cities = ['Karachi', 'Lahore', 'Islamabad']
not_clean = ['Multan']
if cleanest_city in clean_cities:
    print("Your City is Clean")
else:
    not_clean.append(cleanest_city)
    
cleanest_city = input("Enter your City Name")

Enter your City Name Quetta

In [84]:
not_clean

['Multan', 'Quetta']

In [86]:
not_clean

['Multan', 'Peshawar']

In [88]:
not_clean

['Multan', 'Peshawar']

In [90]:
not_clean

['Multan', 'Multan']

In [93]:
clean_cities = ['Karachi', 'Lahore', 'Islamabad']
not_clean = ['Multan']

if cleanest_city in clean_cities:
    print("Your City is Clean")
else:
    not_clean.append(cleanest_city)
    
cleanest_city = input("Enter your City Name")

Your City is Clean

Enter your City Name Quetta

In [92]:
clean_cities

['Karachi', 'Lahore', 'Islamabad']

In [94]:
not_clean

['Multan']

In [95]:
group_A = ['Karachi', 'Multan', 'Peshawar']
group_B = ['Islamabad', 'Quetta', 'Lahore']

In [96]:
for a in range (len(group_A)):
    for b in range(len(group_B)):
        print(group_A[a], ' VS ', group_B[b])
        if group_A[a] == group_B[b]:
            print("Matched")
            break;

Karachi  VS  Islamabad
Karachi  VS  Quetta
Karachi  VS  Lahore
Multan  VS  Islamabad
Multan  VS  Quetta
Multan  VS  Lahore
Peshawar  VS  Islamabad
Peshawar  VS  Quetta
Peshawar  VS  Lahore

In [99]:
for a in range(group_A):
    for b in range(group_B):
        print(group_A[a], ' VS ', group_B[b])
        if group_A[a] == group_B[b]:
            print("Matched")
            break;

TypeError: 'list' object cannot be interpreted as an integer

### Casing

1. upper()
2. lower()
3. tirle()

In [100]:
"anas".upper()

'ANAS'

In [101]:
"anas".title()

'Anas'

### Dictionaries

1. Key: Values

In [102]:
dict = {'age': 24, 'weight': 24}

In [103]:
print(type(dict))

<class 'dict'>

In [104]:
dict['age']

24

In [105]:
dict['weight']

24

In [106]:
customer = {"first name": "Muhammad",
            "last name": "Anas",
            "address": "Federal B Area Block 15"}

In [107]:
print(type(customer))

<class 'dict'>

In [108]:
customer['address']

'Federal B Area Block 15'

In [110]:
#Keys can be a number

dict_versatility =  {1: 'Anas',
                     2: 'Muhammad',
                     3: 'Shafi'}

In [111]:
dict_versatility1=  {"Anas":1,
                     "Muhammad":2,
                     "Shafi":3}

In [112]:
dict_versatility[2]

'Muhammad'

In [114]:
things_to_remember = {0: "the lowest number", "a
dozen": 12, "snake eyes": "a pair of ones", 13: "a
baker's dozen"}

SyntaxError: unterminated string literal (detected at line 1) (3272059359.py, line 1)

In [115]:
# add value 

customer["phone"] = 3322757675

In [116]:
customer

{'first name': 'Muhammad',
 'last name': 'Anas',
 'address': 'Federal B Area Block 15',
 'phone': 3322757675}

In [117]:
customer["City"] = "Karachi"

In [118]:
customer

{'first name': 'Muhammad',
 'last name': 'Anas',
 'address': 'Federal B Area Block 15',
 'phone': 3322757675,
 'City': 'Karachi'}

In [120]:
task_list = []

task_list = input("Enter your Task")

for task in task_list():
    print(task_list)

Enter your Task 6

TypeError: 'str' object is not callable

In [125]:
dictionary = {}
taskcount = input("Enter Your Task")

for count in range(int(taskcount)):
    dictionary['Task '+str(count)] = input("Enter your task name:")

Enter Your Task 2
Enter your task name: cooking
Enter your task name: jogging

In [122]:
dictionary

{'Task 0': 'Cooking'}

In [124]:
dictionary

{'Task 0': 'joggig'}

In [126]:
dictionary

{'Task 0': 'cooking', 'Task 1': 'jogging'}

In [127]:
customer['city'] = "LA"

In [128]:
customer

{'first name': 'Muhammad',
 'last name': 'Anas',
 'address': 'Federal B Area Block 15',
 'phone': 3322757675,
 'City': 'Karachi',
 'city': 'LA'}

In [129]:
del customer['city']

In [130]:
customer

{'first name': 'Muhammad',
 'last name': 'Anas',
 'address': 'Federal B Area Block 15',
 'phone': 3322757675,
 'City': 'Karachi'}

In [132]:
customer['City'] = "LA"

In [133]:
customer

{'first name': 'Muhammad',
 'last name': 'Anas',
 'address': 'Federal B Area Block 15',
 'phone': 3322757675,
 'City': 'LA'}

# Looping in Dictionries

In [135]:
# By Default show keys

for temp in customer:
    print(temp)

first name
last name
address
phone
City

In [136]:
#If we want values

for temp in customer.values():
    print(temp)

Muhammad
Anas
Federal B Area Block 15
3322757675
LA

In [137]:
for temp in customer.keys():
    print(temp)

first name
last name
address
phone
City

In [138]:
# Fr both key and values we used .items() method

for temp in customer.items():
    print(temp)

('first name', 'Muhammad')
('last name', 'Anas')
('address', 'Federal B Area Block 15')
('phone', 3322757675)
('City', 'LA')

In [145]:
for key, value in customer.values():
    print(key, value)

ValueError: too many values to unpack (expected 2)

### Lists of Dictionaries

In [146]:
customer

{'first name': 'Muhammad',
 'last name': 'Anas',
 'address': 'Federal B Area Block 15',
 'phone': 3322757675,
 'City': 'LA'}

In [149]:
list_of_dict = [
     {'first name': 'Muhammad',
     'last name': 'Anas',
     'address': 'Federal B Area Block 15',
     'phone': 3322757675,
     'City': 'LA'},
    {'first name': 'Sbdul',
     'last name': 'Samad',
     'address': 'B Area',
     'phone': 74873892,
     'City': 'AG'}
]

In [153]:
for i in range(len(list_of_dict)):
    print(list_of_dict[i]['address'])

Federal B Area Block 15
B Area